* {
    margin: 0;
    padding: 0;
}
html, body {
    background-color: black;
    /* overflow: hidden; */
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.section {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    place-items: center;
    border: solid 1px red;
    /* display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%; */
}

.section h2 {
    color: white;
    display: block;
    font-size: 7vw;
    display: inline-block;
    transform: translateY(100%);
}